:root {
    /* Palette Colors */
    --white: #ffffff;
    --dark-grey: #2D2D2D;
    --black: #000000;
    --create: #17ce17;
    --delete: #d50000;
    --systemText: #9f9f9f;
    --accentColor: #24c200;

    /* Component Variables */
    --blackWalpha: #00000033;
    --whiteWalpha: #ffffff33;
    --shadow: var(--blackWalpha);
    --text: var(--white);
    --div: var(--dark-grey);
    --transition: 0.3s;
}

* { transition: all var(--transition) }
*.create { color: var(--create) !important; }
*.delete { color: var(--delete) !important; }
*.systemText { color: var(--systemText) !important; }

div {
    background-color: var(--div);
    border-color: var(--text) !important;
}

text, h1, h2, h3, h4, h5, h6, p, div { color: var(--text); }

a {
    color: inherit;
    text-decoration: none;
}

.MuiCard-root {
    border: 1px solid var(--text) !important;
    box-shadow: 0 2px 1px 0 !important;
    color: var(--shadow) !important;
    border-radius: 1em !important;
    background-color: var(--div) !important;
}

.MuiIconButton-root.edit-icon-btn {
    color: var(--text) !important;
    box-shadow: 0 1px 6px 0 var(--shadow);
    margin: 5px;
}

.MuiIconButton-root.edit-submenu-icon {
    color: var(--text) !important;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    box-shadow: 0 1px 6px 0 var(--shadow);
    margin: 5px;
}

#settings-menu *.MuiIconButton-root { padding: 0.2rem; }

input.Mui-disabled { color: var(--systemText) !important; }

.public-DraftStyleDefault-block { margin: 0 !important; }

.MuiSvgIcon-root { color: var(--text) !important; }

.MuiCardContent-root { padding: 1rem !important; }

.MuiBox-root *{ margin: 1em !important; }

.MuiPopover-paper {
    color: inherit !important;
    background-color: var(--div) !important;
    border-radius: 1em !important;
    border: 1px solid;
    padding: 1em;
}

.MuiInputBase-input, .Mui-focused { color: var(--text) !important;}

.MuiFormLabel-root { color: var(--systemText) !important;}

.MuiFormLabel-root.Mui-focused { color: var(--text) !important;}

.MuiFilledInput-underline::before, .MuiFilledInput-underline::after, .MuiInput-underline::before, .MuiInput-underline::after {
    border-color: var(--text) !important
}

.DraftEditor-editorContainer { border: none !important; }

div[role="presentation"] { background-color: rgb(0 0 0 / 0%) !important; }

:target { scroll-margin-top: 10rem; }

#app  {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.view {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.light-mode {
    --div: var(--white);
    --text: var(--black);
    --shadow: var(--blackWalpha);
}

.dark-mode {
    --div: var(--dark-grey);
    --text: var(--white);
    --shadow: var(--whiteWalpha);
}