:root {
    --white: #ffffff;
    --dark-grey: #2D2D2D;
    --black: #000000;
    --text: var(--white);
    --div: var(--dark-grey);
}

#app  {
    height: 100%;
    overflow: hidden;
}

.view {
    width: 100%;
    height: 100%;
    overflow: auto;
}

text, h1, h2, h3, h4, h5, h6, p {
    color: var(--text);
}

div {
    background-color: var(--div);
}

.light-mode {
    --div: var(--white);
    --text: var(--black);
}

.dark-mode {
    --div: var(--dark-grey);
    --text: var(--white);
}